{% extends "course/nav.html" %}
{% block title %}Create schedule{% endblock %}
{% block content %}
    {% load static %}
    <link href="{% static 'css/form.css' %}" rel="stylesheet">
    <h3>Create schedule:&nbsp;&nbsp;&nbsp;&nbsp; {{ course.name }}</h3>
    <div class="form create-update-from">
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <div class="submit-button">
                <input type="submit" value="Create"/>
                <input type="button" value="Return"  onclick='location.href="{% url 'view_detail' course.id%}"'/>
            </div>
        </form>
    </div>
{% endblock %}